Repository UB-ES-2024-A4/book-hub, pull requests merged in 2024-12, with the labels that each got.

#148 Frontend Unit Tests For Past Sprints
  frontend/__init__.py
  frontend/tests/__init__.py
  frontend/tests/functional/__init__.py
  frontend/tests/functional/integration/__init__.py
  frontend/tests/functional/integration/test_followers.py
  frontend/tests/functional/integration/test_followers_methods.py
  frontend/tests/functional/integration/test_header.py
  frontend/tests/functional/integration/test_header_methods.py
  frontend/tests/functional/integration/test_signin_signup.py
  frontend/tests/functional/integration/test_signin_signup_methods.py
  frontend/tests/functional/unit/__init__.py
  frontend/tests/functional/unit/test_account.py
  frontend/tests/functional/unit/test_create_post.py
  frontend/tests/functional/unit/test_follow_unfollow.py
  frontend/tests/functional/unit/test_header.py
  frontend/tests/functional/unit/test_header_not_authenticated.py
  frontend/tests/functional/unit/test_home.py
  frontend/tests/functional/unit/test_home_not_authenticated.py
  frontend/tests/functional/unit/test_signin.py
  frontend/tests/functional/unit/test_signup.py
Labels: test

#149 Filters bar home
  frontend/app/actions.ts
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/components/Header.tsx
  frontend/components/auth/UserNoLogged.tsx
  frontend/contex/FeedContext.tsx
Labels: frontend

#150 Update Dev with Search filter
  frontend/app/actions.ts
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/components/Header.tsx
  frontend/components/auth/UserNoLogged.tsx
  frontend/contex/FeedContext.tsx
Labels: frontend

#152 US4.2-Task 1: Comment preview home
  backend/init_testing_database.sql
  frontend/app/home/components/CommentPreview.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/lib/colorHash.tsx
  frontend/app/lib/hashHelpers.tsx
  frontend/app/types/PostStorage.tsx
Labels: frontend

#147 US7.1 - Task 1: Create a layout for the explore page that includes sections for book filters
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/explorer/dummy_data/dummyDatabase.js
  frontend/app/explorer/page.tsx
Labels: frontend

#155 Explorer posts endpoint
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/explorer.py
  backend/app/api/routes/home.py
  backend/app/models/book.py
  backend/app/models/comment.py
  backend/app/models/post.py
  backend/app/models/user.py
  backend/app/utils.py
  backend/init_testing_database.sql
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/globals.css
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/app/layout.tsx
  frontend/app/types/PostStorage.tsx
  frontend/components/CreatePostButton.tsx
  frontend/components/FetchError.tsx
  frontend/components/Header.tsx
  frontend/components/Loading.tsx
  frontend/components/auth/SignInForm.tsx
  frontend/components/auth/UserNoLogged.tsx
  frontend/components/dialog/CreatePostDialog.tsx
  frontend/contex/FeedContext.tsx
  frontend/next.config.js
  frontend/tailwind.config.ts
Labels: backend

#159 Backend preproduction
  .github/workflows/backend_preproduction.yml
  backend/startup.sh
Labels: DevOps

#163 US7.1: Integration of Explore Page with Backend
  frontend/app/actions.ts
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/explorer/dummy_data/dummyDatabase.js
  frontend/app/explorer/page.tsx
  frontend/app/home/components/MainContent.tsx
Labels: backend, frontend

#167 Add unit and integration tests for explorer and home feature
  backend/app/api/routes/explorer.py
  backend/app/utils.py
  backend/tests/functional/unit/test_explorer.py
  backend/tests/functional/unit/test_home.py
Labels: backend, test

#169 Add Security Test Cases for Token Tampering, SQL Injection, and ZAP Vulnerability Scan
  backend/app/api/routes/users.py
  backend/tests/non-functional/security/OWASP_ZAP_RESULTS/posts_endpoint.csv
  backend/tests/non-functional/security/OWASP_ZAP_RESULTS/users_endpoint.csv
  backend/tests/non-functional/security/testing_plan.md
  backend/tests/non-functional/security/testing_results.md
Labels: backend, test

#186 Us4.2/backend/feat/comment endpoints
  backend/app/api/main.py
  backend/app/api/routes/books.py
  backend/app/api/routes/comments.py
  backend/app/crud/comment.py
  backend/app/models/comment.py
  backend/app/models/post.py
  backend/app/utils.py
  backend/tests/api/test_comments.py
  backend/tests/crud/test_book.py
  backend/tests/crud/test_comment.py
Labels: backend

#173 Performance Testing Results for Backend
  backend/tests/non-functional/performance/ResponseTimeGraph.png
  backend/tests/non-functional/performance/ViewResults.png
  backend/tests/non-functional/performance/testing_plan.md
  backend/tests/non-functional/performance/testing_results.md
  backend/tests/non-functional/security/image.png
  backend/tests/non-functional/security/testing_plan.md
Labels: documentation, backend, test

#185 US7.2: Adapted Explorer page for authenticated users
  frontend/app/actions.ts
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/explorer/page.tsx
Labels: frontend

#190 Merge US.7.2 into dev
  frontend/app/actions.ts
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/explorer/page.tsx
Labels: frontend, merge

#197 Implement User Search Endpoint (User Story 3.3 - Task 4)
  backend/app/api/main.py
  backend/app/api/routes/search.py
  backend/app/crud/search.py
Labels: backend

#202 fix: update all follow buttons at once
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/contex/FeedContext.tsx
Labels: enhancement, frontend, fix

#206 TD4-Task 1: Fix the Profile Image in Header
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/components/Dropdown.tsx
Labels: frontend

#199 Us3.3 frontend/feat/search icon
  frontend/app/actions.ts
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/page.tsx
  frontend/app/home/Errors/NoPostError.tsx
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/app/home/style.css
  frontend/components/FetchError.tsx
  frontend/components/Header.tsx
  frontend/components/dialog/CreatePostDialog.tsx
  frontend/public/book-blue.png
  frontend/public/book-signin.jpg
  frontend/public/book-signup.jpg
  frontend/public/book.jpg
  frontend/public/components.json
  frontend/public/create_post.png
  frontend/public/create_post_main.png
  frontend/public/detective-book.png
  frontend/public/follow_main.png
  frontend/public/logo.png
  frontend/public/noposts.png
  frontend/public/out.png
  frontend/public/users_main.png
  frontend/public/vini.jpg
Labels: frontend

#203 Td5 follow buttons
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/contex/FeedContext.tsx
Labels: enhancement, frontend, fix

#212 US2.6: Profile Redirection
  frontend/app/actions.ts
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/home/components/CommentScroll.tsx
  frontend/app/home/components/PostsPreviewHome.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/profile/components/MainContent.tsx
  frontend/app/profile/components/ProfileHeader.tsx
  frontend/app/profile/components/User/UserProfileData.tsx
  frontend/app/profile/components/User/UserProfilePicture.tsx
  frontend/app/profile/page.tsx
  frontend/components/Dropdown.tsx
Labels: frontend

#213 TD4: Fix the Profile Image in Header
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/components/Dropdown.tsx
Labels: frontend, fix

#207 US4.1 Like Post
  backend/app/api/main.py
  backend/app/api/routes/likes.py
  backend/app/core/database.py
  backend/app/crud/__init__.py
  backend/app/utils.py
  backend/tests/conftest.py
  backend/tests/functional/integration/api/test_books.py
  backend/tests/functional/unit/test_likes.py
  frontend/app/actions.ts
  frontend/app/home/components/PostCard.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
Labels: frontend

#220 Us3.3/backend/feat/account post endpoint
  backend/app/api/main.py
  backend/app/api/routes/account.py
  backend/app/models/__init__.py
  backend/app/models/account_info.py
  backend/app/models/post.py
  backend/app/models/user.py
  backend/app/utils.py
  backend/tests/conftest.py
  backend/tests/functional/unit/test_account.py
Labels: backend

#219 US8.1 - Task 1: Real-time Button State Update
  frontend/app/actions.ts
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/home/components/PostCard.tsx
  frontend/app/profile/components/MainContent.tsx
  frontend/app/profile/components/ProfileHeader.tsx
  frontend/app/profile/components/User/UserProfileData.tsx
  frontend/app/profile/page.tsx
  frontend/app/types/User.ts
Labels: frontend

#221 US2.7: Follow user from their profile
  frontend/app/actions.ts
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/home/components/PostCard.tsx
  frontend/app/profile/components/MainContent.tsx
  frontend/app/profile/components/ProfileHeader.tsx
  frontend/app/profile/components/User/UserProfileData.tsx
  frontend/app/profile/page.tsx
  frontend/app/types/User.ts
Labels: frontend, merge

#222 Merge US3.3 to dev
  .github/badges/coverage-badge.svg
  .github/badges/pylint-badge.svg
  .github/workflows/backend_preproduction.yml
  .github/workflows/branch_name_validation.yml
  .github/workflows/frontend_preproduction.yml
  .github/workflows/test_backend.yml
  .github/workflows/tests_badges.yml
  README.md
  backend/app/api/main.py
  backend/app/api/routes/account.py
  backend/app/api/routes/search.py
  backend/app/crud/search.py
  backend/app/models/__init__.py
  backend/app/models/account_info.py
  backend/app/models/post.py
  backend/app/models/user.py
  backend/app/utils.py
  backend/tests/conftest.py
  backend/tests/functional/unit/test_account.py
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/page.tsx
  frontend/app/home/Errors/NoPostError.tsx
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/page.tsx
  frontend/app/home/style.css
  frontend/app/lib/hashHelpers.tsx
  frontend/components/CreatePostButton.tsx
  frontend/components/FetchError.tsx
  frontend/components/Header.tsx
  frontend/components/dialog/CreatePostDialog.tsx
  frontend/public/book-blue.png
  frontend/public/book-signin.jpg
  frontend/public/book-signup.jpg
  frontend/public/book.jpg
  frontend/public/components.json
  frontend/public/create_post.png
  frontend/public/create_post_main.png
  frontend/public/detective-book.png
  frontend/public/follow_main.png
  frontend/public/logo.png
  frontend/public/noposts.png
  frontend/public/out.png
  frontend/public/users_main.png
  frontend/public/vini.jpg
Labels: backend, frontend, merge

#225 Us2.5/backend/feat/liked posts endpoint
  backend/app/api/routes/account.py
  backend/app/models/account_info.py
  backend/tests/functional/unit/test_account.py
Labels: backend

#226 US2.4 Follow and navegation
  frontend/app/account/components/Dialogs/PostDialog.tsx
  frontend/app/account/components/Errors/FetchInformationError.tsx
  frontend/app/account/components/MainContent.tsx
  frontend/app/account/components/Tabs.tsx
  frontend/app/account/components/Tabs/PostsGrid.tsx
  frontend/app/account/components/User/EditProfileForm.tsx
  frontend/app/account/components/User/UserProfileData.tsx
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/home/components/PostsPreviewHome.tsx
  frontend/app/lib/hashHelpers.tsx
  frontend/components/Header.tsx
  frontend/components/auth/SignInForm.tsx
  frontend/contex/FeedContext.tsx
Labels: frontend

#227 Us2.4 account liked posts
  frontend/app/account/components/Dialogs/PostDialog.tsx
  frontend/app/account/components/Dialogs/ProfileDialog.tsx
  frontend/app/account/components/Errors/FetchInformationError.tsx
  frontend/app/account/components/MainContent.tsx
  frontend/app/account/components/Tabs.tsx
  frontend/app/account/components/Tabs/PostsGrid.tsx
  frontend/app/account/components/User/EditProfileForm.tsx
  frontend/app/account/components/User/UserProfileData.tsx
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/explorer/components/MainContent.tsx
  frontend/app/explorer/components/ScrollAreaExplorer.tsx
  frontend/app/home/components/AvatarComment.tsx
  frontend/app/home/components/CommentScroll.tsx
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/PostCard.tsx
  frontend/app/home/components/PostsPreviewHome.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/lib/authentication.ts
  frontend/app/lib/hashHelpers.tsx
  frontend/components/Dropdown.tsx
  frontend/components/Header.tsx
  frontend/components/auth/SignInForm.tsx
  frontend/contex/FeedContext.tsx
Labels: frontend

#229 US2.5- Task 2: Display User-Created Posts on Profile Page
  frontend/app/actions.ts
  frontend/app/home/components/PostsPreviewHome.tsx
  frontend/app/profile/components/MainContent.tsx
  frontend/app/profile/components/Tabs.tsx
  frontend/app/profile/components/Tabs/PostsGrid.tsx
Labels: frontend

#231 Td7/frontend/fix/optimize image upload
  frontend/app/account/components/ProfileHeader.tsx
  frontend/components/dialog/CreatePostDialog.tsx
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Labels: frontend, fix
