Repository UB-ES-2024-A4/book-hub, pull requests merged in 2024-11, with the labels that each got.

#31 Home Feed Integration Finished. Posts-USER. (withoutBook)
  frontend/app/account/components/ProfileHeader.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/home/Errors/NoPostError.tsx
  frontend/app/home/components/LinksButtons.tsx
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/components/SearchHome.tsx
  frontend/app/home/page.tsx
  frontend/app/types/Post.ts
  frontend/public/noposts.png
Labels: frontend

#33 Fetch Error and Load Post Error Done
  frontend/.eslintrc.js
  frontend/app/account/components/Dialogs/PostDialog.tsx
  frontend/app/account/components/ProfileHeader.tsx
  frontend/app/account/components/Tabs/PostsGrid.tsx
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/components/FetchError.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/textarea.tsx
Labels: frontend

#52 Add User Follow Feature
  backend/alembic/versions/a3985b92b941_db_schema_sprint_1.py
  backend/app/crud/__init__.py
  backend/app/crud/followers.py
  backend/app/models/followers.py
  backend/app/models/user.py
Labels: backend

#63 Implemented Deploy and continuous deployment
  .github/workflows/backend_deploy.yml
  .github/workflows/branch_name_validation.yml
  .github/workflows/frontend_deploy.yml
  .github/workflows/test_backend.yml
  .gitignore
  frontend/.gitignore
  frontend/app/account/components/Dialogs/PostDialog.tsx
  frontend/app/account/components/Dialogs/ProfileDialog.tsx
  frontend/app/account/components/Errors/FetchInformationError.tsx
  frontend/app/account/components/MainContent.tsx
  frontend/app/account/components/ProfileHeader.tsx
  frontend/app/account/components/Tabs.tsx
  frontend/app/account/components/Tabs/PostsGrid.tsx
  frontend/app/account/components/User/EditProfileForm.tsx
  frontend/app/account/components/User/UserProfileData.tsx
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/lib/authentication.ts
  frontend/app/lib/zodSchemas.ts
  frontend/app/types/Post.ts
  frontend/app/types/PropsUser.ts
  frontend/app/types/User.ts
  frontend/components/SignInForm.tsx
  frontend/components/SignUpForm.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/textarea.tsx
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/detective-book.png
  frontend/startup.sh
  package-lock.json
  vercel.json
Labels: DevOps

#65 US4.1: Implement CRUD methods for Like entity
  backend/app/core/database.py
  backend/app/crud/__init__.py
  backend/app/crud/like.py
  backend/tests/crud/test_like.py
  backend/tests/utils.py
Labels: backend

#69 US4.2: Implement CRUD Methods for Comment Entity
  backend/app/core/database.py
  backend/app/crud/__init__.py
  backend/app/crud/comment.py
  backend/tests/conftest.py
  backend/tests/crud/test_comment.py
Labels: backend

#74 Fix the bugs in the followers endpoint
  backend/app/api/routes/followers.py
  backend/app/crud/followers.py
Labels: bug, backend

#88 Integration Create Post Dialog in Header
  frontend/app/actions.ts
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/app/lib/zodSchemas.ts
  frontend/app/types/Book.ts
  frontend/components/CreatePostButton.tsx
  frontend/components/Dialog/CreatePostDialog.tsx
  frontend/components/Header.tsx
  frontend/components/SignInForm.tsx
  frontend/components/SignUpForm.tsx
  frontend/components/ui/alert.tsx
  frontend/components/ui/toast.tsx
  frontend/components/ui/toaster.tsx
  frontend/hooks/use-toast.ts
  frontend/public/create_post.png
Labels: frontend

#92 Merge dev branch fixed
  .github/workflows/backend_deploy.yml
  .github/workflows/branch_name_validation.yml
  .github/workflows/frontend_deploy.yml
  .github/workflows/test_backend.yml
  .gitignore
  frontend/.gitignore
  frontend/app/account/components/Dialogs/PostDialog.tsx
  frontend/app/account/components/Dialogs/ProfileDialog.tsx
  frontend/app/account/components/Errors/FetchInformationError.tsx
  frontend/app/account/components/MainContent.tsx
  frontend/app/account/components/ProfileHeader.tsx
  frontend/app/account/components/Tabs.tsx
  frontend/app/account/components/Tabs/PostsGrid.tsx
  frontend/app/account/components/User/EditProfileForm.tsx
  frontend/app/account/components/User/UserProfileData.tsx
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/explorer/page.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/app/lib/authentication.ts
  frontend/app/lib/zodSchemas.ts
  frontend/app/types/Post.ts
  frontend/app/types/PropsUser.ts
  frontend/app/types/User.ts
  frontend/components/Header.tsx
  frontend/components/SignInForm.tsx
  frontend/components/SignUpForm.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/textarea.tsx
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/detective-book.png
  frontend/startup.sh
  package-lock.json
  vercel.json
Labels: fix

#94 Merge dev
  backend/app/core/database.py
  backend/tests/api/test_posts.py
Labels: merge

#95 Fix: Now tests run once per PR
  .github/workflows/branch_name_validation.yml
  .github/workflows/test_backend.yml
Labels: DevOps

#104 Fix: username cannot contain whitespaces
  .github/workflows/test_backend.yml
  backend/app/utils.py
  backend/tests/api/test_users.py
Labels: backend, fix

#105 US5.1: Enhance Post Creation and Update Endpoints to Handle Filters
  backend/app/api/routes/posts.py
  backend/app/core/database.py
  backend/app/crud/post.py
  backend/app/models/post.py
  backend/app/utils.py
  backend/tests/api/test_books.py
  backend/tests/api/test_posts.py
  backend/tests/crud/test_post.py
Labels: backend

#71 US4.3: Add Comprehensive Test Suite for All Followers Endpoints
  backend/app/api/routes/followers.py
  backend/tests/api/test_followers.py
Labels: backend, test

#96 Us4.3/frontend/feat/responsive home
  frontend/app/home/Errors/NoPostError.tsx
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/components/SearchHome.tsx
Labels: frontend

#108 US5.1: Retrieve Predefined Filters and Enhance Get Post Endpoint
  backend/app/api/main.py
  backend/app/api/routes/filters.py
  backend/app/api/routes/posts.py
  backend/app/crud/__init__.py
  backend/app/crud/filter.py
  backend/app/crud/post.py
  backend/tests/api/test_filters.py
  backend/tests/api/test_posts.py
  backend/tests/conftest.py
  backend/tests/crud/test_filter.py
Labels: backend

#111 US4.3/frontend/test/test follow unfollow
  frontend/tests/test_followers.py
  frontend/tests/test_followers_methods.py
Labels: test

#107 US5.1 - Task 4 Update the Home Feed with new Post and select Filters
  backend/alembic/versions/a3985b92b941_db_schema_sprint_1.py
  backend/app/api/main.py
  backend/app/api/routes/followers.py
  backend/app/crud/__init__.py
  backend/app/crud/followers.py
  backend/app/crud/user.py
  backend/app/models/followers.py
  backend/app/models/user.py
  backend/app/utils.py
  backend/poetry.lock
  backend/tests/api/test_followers.py
  backend/tests/api/test_users.py
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/app/account/components/Errors/FetchInformationError.tsx
  frontend/app/account/components/Tabs/PostsGrid.tsx
  frontend/app/account/components/User/EditProfileForm.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/globals.css
  frontend/app/home/Errors/NoPostError.tsx
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/components/SearchHome.tsx
  frontend/app/home/page.tsx
  frontend/app/layout.tsx
  frontend/app/lib/authentication.ts
  frontend/app/lib/zodSchemas.ts
  frontend/app/types/Filter.ts
  frontend/app/types/Post.ts
  frontend/components/Dialog/CreatePostDialog.tsx
  frontend/components/Header.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/toast.tsx
  frontend/components/ui/toaster.tsx
  frontend/contex/FeedContext.tsx
  frontend/hooks/use-toast.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.ts
  frontend/tests/test_followers.py
  frontend/tests/test_followers_methods.py
Labels: frontend

#117 US5.1 Done
  .github/workflows/test_backend.yml
  backend/app/api/main.py
  backend/app/api/routes/books.py
  backend/app/api/routes/filters.py
  backend/app/api/routes/posts.py
  backend/app/api/routes/users.py
  backend/app/core/database.py
  backend/app/crud/__init__.py
  backend/app/crud/book.py
  backend/app/crud/filter.py
  backend/app/crud/post.py
  backend/app/models/__init__.py
  backend/app/models/book.py
  backend/app/models/filter.py
  backend/app/models/post.py
  backend/app/utils.py
  backend/db_ER_model.png
  backend/tests/api/test_books.py
  backend/tests/api/test_filters.py
  backend/tests/api/test_posts.py
  backend/tests/api/test_users.py
  backend/tests/conftest.py
  backend/tests/crud/test_book.py
  backend/tests/crud/test_filter.py
  backend/tests/crud/test_post.py
  frontend/.eslintrc.js
  frontend/app/account/components/Errors/FetchInformationError.tsx
  frontend/app/account/components/Tabs/PostsGrid.tsx
  frontend/app/account/components/User/EditProfileForm.tsx
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/explorer/page.tsx
  frontend/app/globals.css
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/app/layout.tsx
  frontend/app/lib/authentication.ts
  frontend/app/lib/zodSchemas.ts
  frontend/app/types/Book.ts
  frontend/app/types/Filter.ts
  frontend/app/types/Post.ts
  frontend/components/CreatePostButton.tsx
  frontend/components/Dialog/CreatePostDialog.tsx
  frontend/components/Header.tsx
  frontend/components/ui/alert.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/toast.tsx
  frontend/components/ui/toaster.tsx
  frontend/contex/FeedContext.tsx
  frontend/hooks/use-toast.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/create_post.png
  frontend/tailwind.config.ts
Labels: merge

#118 Book images
  frontend/app/account/components/User/UserProfilePicture.tsx
  frontend/app/account/page.tsx
  frontend/app/explorer/page.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/components/Dialog/CreatePostDialog.tsx
  frontend/components/Header.tsx
  frontend/next.config.js
  frontend/package-lock.json
Labels: frontend

#124 Us1.3 password hashing
  .github/workflows/branch_name_validation.yml
  backend/app/core/database.py
  backend/app/core/security.py
  backend/app/crud/user.py
  backend/init_testing_database.sql
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/crud/test_password.py
Labels: merge

#130 US1.4. Update Account Header Button
  frontend/components/Dropdown.tsx
  frontend/components/Header.tsx
Labels: enhancement, frontend

#126 Logout
  backend/app/api/deps.py
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/models/user.py
  backend/tests/api/test_users.py
Labels: backend

#133 US1.4 Implement Logout Button Functionality
  backend/alembic/versions/a3985b92b941_db_schema_sprint_1.py
  backend/app/models/book.py
  frontend/app/actions.ts
  frontend/components/Dropdown.tsx
  frontend/components/Header.tsx
Labels: frontend

#136 Add testing plan and folder structure for backend, frontend, and combined tests
  .github/workflows/branch_name_validation.yml
  backend/tests/functional/integration/api/__init__.py
  backend/tests/functional/integration/api/first_test.py
  backend/tests/functional/integration/api/test_books.py
  backend/tests/functional/integration/api/test_filters.py
  backend/tests/functional/integration/api/test_followers.py
  backend/tests/functional/integration/api/test_posts.py
  backend/tests/functional/integration/api/test_users.py
  backend/tests/functional/unit/test_book.py
  backend/tests/functional/unit/test_filter.py
  backend/tests/functional/unit/test_password.py
  backend/tests/functional/unit/test_post.py
  docs/image.png
  docs/testing-plan.md
Labels: enhancement, test

#140 Persistance Data in the Website and new responsive design
  backend/app/api/main.py
  backend/app/api/routes/home.py
  backend/app/models/book.py
  backend/app/models/comment.py
  backend/app/models/post.py
  backend/app/models/user.py
  backend/app/utils.py
  backend/init_testing_database.sql
  frontend/app/account/page.tsx
  frontend/app/actions.ts
  frontend/app/explorer/page.tsx
  frontend/app/globals.css
  frontend/app/home/components/MainContent.tsx
  frontend/app/home/components/ScrollAreaHome.tsx
  frontend/app/home/page.tsx
  frontend/app/layout.tsx
  frontend/app/types/PostStorage.tsx
  frontend/components/CreatePostButton.tsx
  frontend/components/FetchError.tsx
  frontend/components/Header.tsx
  frontend/components/Loading.tsx
  frontend/components/auth/SignInForm.tsx
  frontend/components/auth/UserNoLogged.tsx
  frontend/components/dialog/CreatePostDialog.tsx
  frontend/contex/FeedContext.tsx
  frontend/next.config.js
  frontend/tailwind.config.ts
Labels: fix
